/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*html {*/
/*    font-size: 10px;*/
/*}*/

/*ul, li {*/
/*    list-style: none;*/
/*}*/

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {

}

.board_title div {
    font-size: 1.5rem;
    margin-bottom:20px;
}

.board_title p {
    margin-bottom: 30px;
    font-size: 1rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1rem;
}


.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > td {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.2rem;
}

.board_list > div.top > td {
    font-weight: 600;
    height : 2.5rem;
    font-size:2rem;
}

.board_list .num {
    width: 10%;
    height : 2.5rem;
    font-size:2rem;
}

.board_list .title {
    width: 20%;
    text-align: left;
    height : 2.5rem;
    font-size:2rem;
}

.board_list .top .title {
    text-align: center;

}

.board_list .writer {
    width: 40%;
    height : 2.5rem;
    font-size:2rem;
}

.board_list .date {
    width: 10%;
    height : 2.5rem;
    font-size:2rem;
}

.board_list .count {
    width: 20%;
    height : 2.5rem;
    font-size:2rem;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.2rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_view {
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    font-size:1rem;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1rem;
}

.board_view .info dl dt {
    font-size: 1rem;
}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
    font-size: 1rem;
}

.board_view .cont {
    padding: 50px 5px;
    border-bottom: 1px solid #000;
    line-height: 100%;
    font-size: 1rem;
}

.board_write {
    border-top: 2px solid #000;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 80%;
}

.board_write .cont {
    border-bottom: 1px solid #000;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}

.num {
    width:5%;
}
.title {
    width:30%;
}
.writer {
    width:35%;
}
.count {
    width:15%;
}
.date {
    width:15%;
}
input{
    border:0px solid none;
}
tr {
    display:flex;
    justify-content: space-between;
}

table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: center;
}

thead {
  font-weight: bold;
  color: #000;
  text-align:center;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
thead .writer{
    flex-basis: 50%;
}

tbody .writer{
    flex-basis: 50%;
    text-align: left;
}
 td, th {
  padding: 1em .5em;
  vertical-align: middle;
}

 td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
  text-align:center;
  line-height:2rem;
}


 @media all and (max-width: 768px) {

  table, thead, tbody, th, td, tr {
    display: block;
  }

  th {
    text-align: right;
  }

  table {
    position: relative;
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }

  thead {
    float: left;
    white-space: nowrap;
  }

  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;

  }

  tr {
    vertical-align: top;
    display:flex;
    justify-content:space-between;
  }



  th {
    border-bottom: 1px solid #a39485;
  }

  td {
    border-bottom: 1px solid #e5e5e5;
  }


  }