{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith%}
​
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/change_password.css">
</head>
<body>

            <form action="/change_password" method="POST">
                <div class="wrap">
                    <div class="login">
                <h2>비밀번호 찾기</h2>
                <div class="login_id">
                    <input type="text" name="user_mail" id="" placeholder="이메일 입력">
                </div>
                <div class="submit">
                    <button type="submit">인증번호 발송</button>
                </div>
                <div class="login_etc">
                    <div class="forgot_pw">
                        <a href="/loginst">로그인</a>
                    </div>
                    <div class="forgot_pw">
                    <a href="/">홈으로</a>
            </form>
                </div>
        </div>

</body>