<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-ND6MK8KP');</script>
<!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body{
            height: 100vh;
        }

        .wrap{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin: 0 auto;
            gap: 30px;
            height: 100%;
            width: 80%;

        }

        h1{
            font-size: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ND6MK8KP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="wrap">
        <section>
            <h1>2020년 스튜디오별 예약 건수</h1>
            <div><canvas id="myChart1"></canvas></div>
        </section>
        <section>
            <h1>2021년 스튜디오별 예약 건수</h1>
            <div><canvas id="myChart2"></canvas></div>
        </section>
        <section>
            <h1>2022년 스튜디오별 예약 건수</h1>
            <div><canvas id="myChart3"></canvas></div>
        </section>
        <section>
            <h1>2023년 스튜디오별 예약 건수</h1>
            <div><canvas id="myChart4"></canvas></div>
        </section>
    </div>



<script>
    const ctx1 = document.getElementById('myChart1');

    new Chart(ctx1, {

        type: 'bar',
        data: {
        labels: ['12 스튜디오', 'LK 스튜디오', '김이박 스튜디오', '꽃길 스튜디오', '람 스튜디오', '비브 스튜디오스',
       '스튜디오 동감', '에스디엠 아트센터', '연 스튜디오', '와이드 스튜디오', '웨이브 스튜디오', '컬러세움 스튜디오',
       '탁트인 스튜디오', '턴 스튜디오', '팀로드 스튜디오', '하와모두 스튜디오', '하이어 스튜디오', '화이담 스튜디오'],
        datasets: [{
            label: '스튜디오별 예약건수',
            data: [9, 3, 3, 6, 6, 8, 6, 5, 7, 5, 7, 6, 7, 1, 5, 2, 4, 10],
            backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(201, 203, 207, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 1)'
                    ],
            borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)'
                    ],
            borderWidth: 1
        }]
        },
        options: {
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    });

    const ctx2 = document.getElementById('myChart2');

    new Chart(ctx2, {

        type: 'bar',
        data: {
        labels: ['12 스튜디오', 'LK 스튜디오', '김이박 스튜디오', '꽃길 스튜디오', '람 스튜디오', '비브 스튜디오스',
        '스튜디오 동감', '에스디엠 아트센터', '연 스튜디오', '와이드 스튜디오', '웨이브 스튜디오', '컬러세움 스튜디오',
        '탁트인 스튜디오', '턴 스튜디오', '팀로드 스튜디오', '하와모두 스튜디오', '하이어 스튜디오', '화이담 스튜디오'],
        datasets: [{
            label: '스튜디오별 예약건수',
            data: [5, 3, 3, 10, 6, 7, 6, 9, 7, 5, 7, 6, 7, 1, 5, 2, 4, 8],
            backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 1)'
                    ],
            borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)'
                    ],
            borderWidth: 1
        }]
        },
        options: {
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
        });

    const ctx3 = document.getElementById('myChart3');

    new Chart(ctx3, {

        type: 'bar',
        data: {
        labels: ['12 스튜디오', 'LK 스튜디오', '김이박 스튜디오', '꽃길 스튜디오', '람 스튜디오', '비브 스튜디오스',
       '스튜디오 동감', '에스디엠 아트센터', '연 스튜디오', '와이드 스튜디오', '웨이브 스튜디오', '컬러세움 스튜디오',
       '탁트인 스튜디오', '턴 스튜디오', '팀로드 스튜디오', '하와모두 스튜디오', '하이어 스튜디오', '화이담 스튜디오'],
        datasets: [{
            label: '스튜디오별 예약건수',
            data: [3, 3, 4, 5, 6, 8, 6, 5, 5, 7, 9, 6, 7, 10, 5, 2, 5, 7],
            backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(201, 203, 207, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 1)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                    ],
            borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)'
                    ],
            borderWidth: 1
        }]
        },
        options: {
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    });

    const ctx4 = document.getElementById('myChart4');

    new Chart(ctx4, {

        type: 'bar',
        data: {
        labels: ['12 스튜디오', 'LK 스튜디오', '김이박 스튜디오', '꽃길 스튜디오', '람 스튜디오', '비브 스튜디오스',
       '스튜디오 동감', '에스디엠 아트센터', '연 스튜디오', '와이드 스튜디오', '웨이브 스튜디오', '컬러세움 스튜디오',
       '탁트인 스튜디오', '턴 스튜디오', '팀로드 스튜디오', '하와모두 스튜디오', '하이어 스튜디오', '화이담 스튜디오'],
        datasets: [{
            label: '스튜디오별 예약건수',
            data: [4, 5, 3, 5, 6, 9, 4, 7, 2, 5, 5, 4, 8, 2, 10, 6, 4, 2],
            backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(201, 203, 207, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(201, 203, 207, 0.2)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                    ],
            borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)'
                    ],
            borderWidth: 1
        }]
        },
        options: {
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    });


</script>
</body>
</html>